.global-tooltip {
    border: 0px solid transparent !important;
    margin: 0 !important;
    opacity: 1 !important;
}

.tooltip-inner-default {
    background-color: black !important;
    opacity: 1 !important;
}

.tooltip-inner-primary {
    background-color: var(--bs-primary) !important;
    opacity: 1 !important;
}

.tooltip-inner-secondary {
    background-color: var(--bs-secondary) !important;
    opacity: 1 !important;
}

.tooltip-inner-light {
    background-color: var(--bs-light) !important;
    opacity: 1 !important;
}

.tooltip-inner-dark {
    background-color: var(--bs-dark) !important;
    opacity: 1 !important;
}

.tooltip-inner-success {
    background-color: var(--bs-success) !important;
    opacity: 1 !important;
}

.tooltip-inner-warning {
    background-color: var(--bs-warning) !important;
    opacity: 1 !important;
}

.tooltip-inner-danger {
    background-color: var(--bs-danger) !important;
    opacity: 1 !important;
}

.tooltip-inner-info {
    background-color: var(--bs-info) !important;
    opacity: 1 !important;
}

.primary-h-popover::before, .primary-h-popover::after {
    border-left-color: var(--bs-primary) !important;
    border-right-color: var(--bs-primary) !important;
}

.primary-v-popover::before, .primary-v-popover::after {
    border-top-color: var(--bs-primary) !important;
    border-bottom-color: var(--bs-primary) !important;
}

.secondary-h-popover::before, .secondary-h-popover::after {
    border-left-color: var(--bs-secondary) !important;
    border-right-color: var(--bs-secondary) !important;
}

.secondary-v-popover::before, .secondary-v-popover::after {
    border-top-color: var(--bs-secondary) !important;
    border-bottom-color: var(--bs-secondary) !important;
}

.info-h-popover::before, .info-h-popover::after {
    border-left-color: var(--bs-info) !important;
    border-right-color: var(--bs-info) !important;
}

.info-v-popover::before, .info-v-popover::after {
    border-top-color: var(--bs-info) !important;
    border-bottom-color: var(--bs-info) !important;
    
}

.danger-h-popover::before, .danger-h-popover::after {
    border-left-color: var(--bs-danger) !important;
    border-right-color: var(--bs-danger) !important;
}

.danger-v-popover::before, .danger-v-popover::after {
    border-top-color: var(--bs-danger) !important;
    border-bottom-color: var(--bs-danger) !important;
}

.warning-h-popover::before, .warning-h-popover::after {
    border-left-color: var(--bs-warning) !important;
    border-right-color: var(--bs-warning) !important;
}

.warning-v-popover::before, .warning-v-popover::after {
    border-top-color: var(--bs-warning) !important;
    border-bottom-color: var(--bs-warning) !important;
}

.success-h-popover::before, .success-h-popover::after {
    border-left-color: var(--bs-success) !important;
    border-right-color: var(--bs-success) !important;
}

.success-v-popover::before, .success-v-popover::after {
    border-top-color: var(--bs-success) !important;
    border-bottom-color: var(--bs-success) !important;
}

.light-h-popover::before, .light-h-popover::after {
    border-left-color: var(--bs-light) !important;
    border-right-color: var(--bs-light) !important;
}

.light-v-popover::before, .light-v-popover::after {
    border-top-color: var(--bs-light) !important;
    border-bottom-color: var(--bs-light) !important;
}

.dark-h-popover::before, .dark-h-popover::after {
    border-left-color: var(--bs-dark) !important;
    border-right-color: var(--bs-dark) !important;
}

.dark-v-popover::before, .dark-v-popover::after {
    border-top-color: var(--bs-dark) !important;
    border-bottom-color: var(--bs-dark) !important;
}

.default-h-popover::before, .default-h-popover::after {
    border-left-color: black !important;
    border-right-color: black !important;
}

.default-v-popover::before, .default-v-popover::after {
    border-top-color: black !important;
    border-bottom-color: black !important;
}
